/******************************************************************************
 * App wide styles. Only place where tag only selectors allowed.
 *****************************************************************************/

@import "conf.scss";
@import "messages.scss";
@import "logos.scss";
@import "helpers.scss";

body {
  margin: 0;
}

.ui-mobile body{
  height:auto;
}

form, body {
  background: $background-color !important;
}

.ui-page {
  background: white;
}

button.header {
  padding: 0.5em 1em !important;
  width: 1.9em !important;
}


.ui-navbar button {
  width: 100% !important;
  border-left: 1px !important;
}

div.ui-btn,
button.ui-btn {
  width: 94%;
  margin: 2% 3% 0;

  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  border-right: none;
  border-left: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Buttons in fixed footer control group are shifted down. This lifts them up.*/
.ui-controlgroup{
  margin: 0;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn-icon-notext {
  width: 1.9em;
}

.splash-box {
  background-color: rgba(255, 255, 255, 0.8);
  border: #555 solid 2px;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
}

/* Active JQM Tabs stop displaying some styles. This is a fix to restore them. */
.ui-tabs-active > a {
  background-color: #3388CC !important;
  color: #ffffff !important;
  text-shadow: none !important;
}
.ui-collapsible-content p,
.ui-listview>li p {
  font-size: 90%;
}

.ui-content {
  padding: 0;
}

.ui-content .ui-listview {
  margin: 0 3%;
}

.ui-listview>.ui-li-static {
  padding: .7em 3%;
}

img {
  max-width: 100%;
}

label, form label {
  width: auto;
}

/* Increase label width compared to standard jQM. */
@media (min-width: 28em) {
  .ui-field-contain > label,
  .ui-field-contain .ui-controlgroup-label,
  .ui-field-contain > .ui-rangeslider > label {
    width: 30%;
  }
}

/* Wide screens CSS */
@media only screen and (min-width: 650px) {
  /* Scrollbar stops repositioning the page */
  html {
    overflow-y: scroll;
  }

  .ui-page[class] {
    width: 650px;
    margin: 0 auto;
    position: relative;

    box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
  }

  .ui-header-fixed, .ui-footer-fixed {
    width: 650px;
    margin-left: -325px;
    left: 50%;
  }
}

.ui-header-fixed, .ui-footer-fixed {
  min-height: 45px;

  background-color: $header-color !important;
  border-color: transparent !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

/* Move loader dialog up */
.ui-loader{
  top: 27% !important;
  width: 13.5em;
  margin-left: -7.5em;
}

.ui-widget-content {
  border: 0;
  background: transparent;
}

.ui-header .ui-title {
  color: $header-text-color;
  text-shadow: none;
}

.ui-btn {
  background-color: $button-color;
}

.ui-body-b .ui-btn,
.ui-btn.ui-btn-b,{
  background-color: #333 !important;
}

a.ui-btn > img {
  margin-left: 3px;
  margin-top: 5px;
  min-height: 70%;
}

.ui-nodisc-icon.ui-btn:after,
.ui-nodisc-icon .ui-btn:after{
  opacity: 0.6;
}
.ui-btn-b.ui-nodisc-icon.ui-btn:after,
.ui-btn-b.ui-nodisc-icon .ui-btn:after{
  opacity: 1;
}

.app-version {
  color: #616161;
  font-weight: lighter;
}

.differences-table {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

.differences-table tr,
{
  height: 50px;
  border-bottom: 1px solid #DEDEDE;
}

.differences-table td {
  padding: 10px;
}

.listview-top {
  margin-top: 25px !important;
}

.listview-full {
  margin: 0 !important;
}


.ui-checkbox, .ui-radio {
  margin: 0 3%;
}

.ui-checkbox .ui-btn {
  border-radius: 0;
  border-right: none;
  border-left: none;
}

.ui-radio label {
  border-right: none;
  border-left: none;
}

.ui-controlgroup-controls {
  margin: 0 3%;
  border-radius: 0;
}

input,
textarea {
  width: 94% !important;
  margin: 0 3% !important;
  border-radius: 0 !important;
  border-right: none !important;
  border-top: none !important;
  border-left: none !important;
}


.ui-input-btn,
.ui-input-text {
  margin: 8px 3% 0!important
}

.ui-tabs {
  padding: 0;
}