/******************************************************************************
 * App wide configuration of variables.
 *****************************************************************************/

$background-color: #F4F7E6;
$page-color: #EFF2CD;

$header-color: #C2B855;
$header-text-color: white;
$button-color: #828829;

