/******************************************************************************
 * Helper styles. Stuff that did not fit anywhere else.
 *****************************************************************************/

/* App Loader */
div.loading {
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

.loading img {
  margin-top: 5%;
}

.ui-loader .ui-icon-loading {
  background-color: white;
}

.ui-loader-default {
  opacity: .70;
}

.ui-loader-close {
  margin-top: -5px;
  margin-right: -5px;
}

.ui-loader-background {
  width:100%;
  height:100%;
  top:0;
  padding: 0;
  margin: 0;
  background: white;
  opacity: 0.6;
  display:none;
  position: fixed;
  z-index:10000;
}

.ui-loading .ui-loader-background {
  display:block;
}

.trip-block {
  text-shadow: none;
  color: white;
}

.add-homescreen > ol {
  padding-left: 30px;
}

.instruction {
  height: 50px;
}

.instruction > p {
  width: 70%;
}

.instruction > img{
  float:right;
  width: 34px;
}

/* User details dialog */
.input-error {
  border-color: red !important;
}

.centre {
  text-align: center;
}