/******************************************************************************
 * Helper styles. Stuff that did not fit anywhere else.
 *****************************************************************************/

/* App Loader */
div.loading {
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
}

.loading img {
  margin-top: 5%;
}

.ui-loader .ui-icon-loading {
  background-color: white;
}

.ui-loader-default {
  opacity: .70;
}

.trip-block {
  text-shadow: none;
  color: white;
}

.add-homescreen > ol {
  padding-left: 30px;
}

.instruction {
  height: 50px;
}

.instruction > p {
  width: 70%;
}

.instruction > img{
  float:right;
  width: 34px;
}

/* User details dialog */
.input-error {
  border-color: red !important;
}

.centre {
  text-align: center;
}