/******************************************************************************
 * List controls styles used on List page.
 *****************************************************************************/

.ui-icon-filter:after {
  background-image: url('data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMzUwIDMyMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEuNDE0MjE7Ij48ZyBpZD0iTGF5ZXIyIj48ZyBpZD0iTGF5ZXIxIj48cGF0aCBkPSJNNTcuMjM3LDYyLjM2MTdjMTI0LjA5NSwtMTIuMTA4OSAxOTAuOTE4LC0yLjcwNDk4IDIyNy45MDcsLTEuNTM5OTRjMzcuOTMwOCwxLjE5NDczIC03Mi45NDkzLDEwMC44MTQgLTc0LjY2NCwxMDMuMDEzbDIuMzA5MiwxMTIuNDE1bC03MS43MTc0LC0yMi4yOTZsMC4xMjYyODQsLTg4LjQ4NjJjLTMzLjY2MjcsLTMzLjkyMjggLTEwMy43OTIsLTkxLjIwMSAtODMuOTYwOSwtMTAzLjEwN1oiIHN0eWxlPSJmaWxsOiNmZmY7Ii8+PC9nPjwvZz48L3N2Zz4=');
}

#list-filters .ui-collapsible-content {
  width: 80%;
}

label.filter, label.sort {
  width: 70%
}

#list-filters a{
  width: 80%;
}

#list-filters fieldset,
#list-filters .ui-collapsible-content{
  padding: 0;
  margin: 0;
}


#list-filters label {
  width: 91%;
  background-color: white;
}

#list-controls-clear-button,
#list-controls-save-button{
  width: 30%;
}

#list-controls-button.on:after {
  background-color: #3388cc;
}

#list-controls-placeholder {
  margin:0 10px 0 10px;
  top: 80px;
}

#list-controls-tabs {
  display: none;
}

.list-controls legend {
  text-align: center;
  font-weight: bold;
}

.list-controls fieldset{
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.list-controls fieldset > div{
  width: 100%;
}