/******************************************************************************
 * User pages styles.
 *****************************************************************************/

.saved-list-item {
  min-height: 50px;
}

.saved-list-item > p {
  white-space: normal !important;
  margin-left: 60px !important;
  margin-bottom: 0 !important;
  margin-top: 5px!important;
}

.saved-list-item .img-picker-display {
  height: 52px;
  width: 52px;
  position: absolute;
  background-size: 30px auto;
  margin-left: -0.5em;
}

.saved-list-item .img-picker-display.multi {
  background-image: url($multi-record-icon-white);
}